{{#each this}}
<li class='item' data-id='{{id}}'>
    <article class='card'>
        <div class='card-thumb'>
            <img class='card-image' loading='lazy' src='{{images.0.url}}' alt='' />
        </div>
        <div class='event-info'>
            <h5 class='event-name'>{{name}}</h5>
            <p class='event-date'>{{dates.start.localDate}}</p>
            <a href='' class='location-link'>
                <svg class='icon-location' width='7' height='10'>
                    <use href='/sprite.svg#icon-location'></use>
                </svg>
                {{place.city.name}}
            </a>
        </div>
    </article>
</li>
{{/each}}
