{{#each images}}
    {{#unless fallback}}
        {{#if url.length}}
            <img class="preview-circle" src='{{url}}' alt='' width="132"/>
            {{ else }}
            <img class='preview-circle' src='../images/no-image-available.png'
                alt='' />
        {{/if}}
    {{/unless}}
{{/each}}

<div class="foto-info">
    {{#each images}}
        {{#unless fallback}}
            {{#if url.length}}
                <img class="event-pic-big" src='{{url}}' alt='' width="360" />
                {{ else }}
                <img class='event-pic-big' src='../images/no-image-available.png'
                alt='' />
            {{/if}}
        {{/unless}}
    {{/each}}

    <ul class="event-info">
        <li class="list-item">
            <h3 class="event-title-modal">INFO</h3>
            <p class="text-info">{{name}}</p>
            <p class="text-info"><a href="{{url}}" target="_blank" class="">=> Official event web-site</a></p>
        </li>
       
       <li class="list-item">
            <h3 class="event-title-modal">WHEN</h3>
            <p class="text-info date-time-modal"><span class="date-modal">{{dates.start.localDate}}</span><span
                    class="time-modal">{{dates.start.localTime}}</span></p>
       </li>

       <li class="list-item">
            <h3 class="event-title-modal">WHERE</h3>
            {{#if place.length}}
            <p class="text-info event-location-modal"><span class="country-city">{{place.country.name}}, {{place.city.name}}</span><span
                    class="venue">{{place.address.line1}}</span></p>
            {{ else }}
            <p class="text-info"><a href="{{url}}" target="_blank" class="">=> Please, visit the official web-site of the event for
                    more information</a></p>
            {{/if}}
       </li>

        <li class="list-item">
            <h3 class="event-title-modal">WHO</h3>
            <p class="text-info">{{name}}</p>
        </li>

       <li class="list-item">
            <h3 class="event-title-modal">PRICES</h3>
            {{#if priceRanges.length}}
            <div class="price-line">
                <svg width="30" height="20" class="barcode-icon">
                    <use href="../src/images/sprite.svg#icon-barcode-icon"></use>
                </svg>
                <p class="text-info">{{priceRanges.0.type}} {{priceRanges.0.min}}-{{priceRanges.0.max }}
                            {{priceRanges.0.currency}}</p>
            </div>
            <a href="{{url}}" target="_blank" class="buy-ticket-button">BUY TICKETS</a>
            {{ else }}
            <p class="text-info"><a href="{{url}}" target="_blank" class="event-website">=> Please, visit the official web-site of the event for more information</a></p>
            {{/if}}
       </li>
    </ul>
</div>
<button class="more-author-events">MORE FROM THIS AUTHOR</button>


{{!-- <button class="buy-ticket-button">BUY TICKETS</button> --}}